body {
    font-family: Arial, sans-serif;
    margin: 0 2%; /* 左右留出2%的空间 */
    padding: 0;
  }
  
  #navbar {
    background-color: #2bc9f5;
    color: #fff;
    padding: 10px;
    text-align: center; /* +++mid */
    margin-bottom: 3%;
  }
  
  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #navbar ul li {
    display: inline;
    margin-right: 10px;
  }
  
  #navbar a {
    font-size: 20px; /* zoom */
  }
  
  
  #main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Alignement de la dispersion sur chaque ligne */
  }
  
  .box {
    width: calc(50% - 5%); /* 50% - 5% mid */
    margin-bottom: 5%; /* Laissez 10 % d'espace au-dessus et au-dessous */
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Calcule la largeur totale de la boîte englobante dans le modèle de boîte */
  }
  

  .header {
    background-color: #f5f5f5;
    padding: 10px;
  }
  
  .student-info {
    margin-top: 20px;
  }
  
  .student-info h2 {
    text-align: center;
  }
  
  .student-info form {
    margin: 0 auto;
    max-width: 400px;
  }
  